

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.inter-sans-serif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.display-flex{
    display:flex;
    justify-content: space-between;
}
.bg-red-color{
   background-color:  rgba(230, 83, 60, 1);
}
.bg-gradint-color{
    color: rgba(255, 255, 255, 1);

}
.bg-gradint-second{
    
    color: rgba(255, 255, 255, 0.5);

}



body{
    width:100%;
    /* background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%); */
    background: rgba(34, 34, 34, 1);

}
/* navbar  */
.nav-fitness{
    font-size:36px;
    font-weight:800;
color:rgba(230, 83, 60, 1);
}
.navbar{
    width:80%;
    margin:0 auto;
    align-items:center;
}
.nav-link{
    gap:46px;
    align-items:center;
}
.nav-item{
    list-style:none;
  
}
.nav-item a{
   
    font-size:18px;
    font-weight:400;
   text-decoration:none;
   
    
}
#bg-style{
    padding:8px 20px;
    border-radius:46px;
}

.fa-solid{
    color:white;
}

/* banner part */
.video-tutorial{
    width:206px;
    color:white;
    border: 1px solid;
    background-color:  rgba(48, 48, 48, 0.54);
    border-radius:12px;
    
}
.button-second{
    margin-top:200px;
}

.ball{
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
}
.button{
    display:flex;
    align-items: center;
    border-radius:12px;
    margin-left:-70px;
    margin-top:-150px;
    padding:20px;
    gap:12px;
    background: rgba(48, 48, 48, 0.54);
    color:white;

}


.button-nummber{
    margin-bottom:5px;
    font-size:24px;
    font-weight:900;
}
.banner{
    width: 80%;
    margin:0 auto;
    gap:87px;
    display:flex;

}

.banner-h5{
    font-size:78px;
    font-weight:800;
    margin-bottom:26px;
}

.banner-button-child{
    
    width:200px;
    padding:16px 40px;
    border-radius:42px;
    gap:24px;
    color:white;
    
}
.bg-similar-color{
    background-color:rgba(34, 34, 34, 1);
}

/* hero section start */
.hero-section{
    width:80%;
    margin:0 auto;
}

.change-habits{
font-size:48px;
font-weight:900;
color:white;
margin-bottom:20px;
}
.change-paragraph{
    font-size:14px;
    color: rgba(255, 255, 255, 0.5);

}

#hero-id{
    text-align: center;
    
}
.change-habits-child{
    display:flex;
   justify-content: space-evenly;
}
.change-habits-category{
    width:231px;
    color:white;
    text-align: center;
    margin-top:40px;
    
}
.change-habits-category img{
    border-radius:50%;
}
.change-habits-category h2{
    font-size:18px;
 }
 
.change-habits-category p{
    font-size:14px;
    color: rgba(255, 255, 255, 0.5);

}
/* running section style */
.running-section{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-evenly;
    margin-top:100px;
    align-items:center;
    
}
.running-start{
    width:440px;
    color:white;
}
 .running-button{
    width:224px;
    background-color:rgba(230, 83, 60, 1) ;
    padding:16px 40px;
    border-radius:42px;
    color:white;
 }
 .running-start h3{
    font-size:48px;
    font-weight:900;
 }
 
 .running-img img{
    width:366px;
    border-radius:18px;
 }

 /* training section */
 
 .training-section{
    color:white;
    width:80%;
    margin: 0 auto;
 }
 .training-text{
    font-size:48px;
    font-weight:900;
    margin-bottom:20px;
 }
 .exercise-main{
    
 }
 .exercise-first{
    display:flex;
 }
 .exercise-second{
    display:flex;
 }
 .training-p{
     color: rgba(255, 255, 255, 0.5);;
 }
 .exercise-1{
    width:320px;
 }
 .exercise-1-p{
    margin-left:16px;
    
    
 }
 .exercise-2{
    width:540px;
    height:215px;
 }
 .exercise-3{
    width:350px;
    height:215px;

 }
 .exercise-4{
    width:425px;
 }
 .exercise-5{
    width:288px;
 }
 .exercise-6{
    width:340px;
 }
 /* 
responsive media query for small device */
@media  screen and (max-width:576px) {
   
.nav-link{
    flex-direction:column;
}
.nav-item{
    display:none;
}
.banner-img,
.change-habits-child,
.running-section{
  flex-direction: column;
    align-items: center;
    
}
.running-start{
    width:366px;
}
.running-img img {
    margin-top:30px;
}
.banner{
    flex-direction:column;
}
.exercise-1{
    width:205px;
}


.exercise-2{
   width:200px;
   height:138px;
    
}

#exercise-3{
display:none;
}
.exercise-4{
    width:200px;
}
.exercise-5{
    width:205px;
}
.exercise-6{
    display:none;
}
}

@media screen and (min-width:577px) and (max-width:1740px) {
    .fa-solid{
        display:none;
    }

}
